<!DOCTYPE html>
<html>
<head>
	<title>CATALOGO</title>

</head>
<body>
	<div>
		<a href="{% url 'home' %}" style="margin-right: 10px;">Home</a>
		{% if user.is_authenticated %}
			<p>HOLA {{user.username}}</p>
			<a href="{% url 'logout' %}" style="margin-right: 10px;">SALIR</a>
		{% else %}
			<a href="{% url 'login' %}" style="margin-right: 10px;">login</a>
			<a href="{% url 'usuarios:registrar' %}" style="margin-right: 10px;">Registrar</a>
		{% endif %}

		
		<a href="{% url 'contacto' %}" style="margin-right: 10px;">Contacto</a>

		<a href="{% url 'productos:listar' %}" style="margin-right: 10px;">Mostrar Productos</a>
		<a href="{% url 'productos:listar_funcion' %}" style="margin-right: 10px;">Mostrar Productos con Funcion</a>
		<a href="{% url 'productos:crear' %}" style="margin-right: 10px;">Crear Productos</a>
		<a href="{% url 'productos:filtros' %}" style="margin-right: 10px;">FILTROS</a>
	</div>
	<div  style="margin-top: 20px">
		
			{% block contenido %}
				<h1>SOY EL BASEEEEEEEEEEEEEEEEEEEEEEEEEEEE!!!</h1>
			{% endblock %}

	</div>
</body>
</html>