<!DOCTYPE html>
<html>
<head>
	<title>CATALOGO</title>

</head>
<body>
	<div>
		<a href="{% url 'home' %}">Home</a><br>
		{% if user.is_authenticated %}
			<p>HOLA {{user.username}}</p>
			<a href="{% url 'logout' %}">SALIR</a><br>
		{% else %}
			<a href="{% url 'login' %}">login</a><br>
			<a href="{% url 'usuarios:registrar' %}">Registrar</a><br>
		{% endif %}

		
		<a href="{% url 'contacto' %}">Contacto</a><br>

		<a href="{% url 'productos:listar' %}">Mostrar Productos</a><br>
		<a href="{% url 'productos:crear' %}">Crear Productos</a>
	</div>
	<div  style="margin-top: 20px">
		
			{% block contenido %}
				<h1>SOY EL BASEEEEEEEEEEEEEEEEEEEEEEEEEEEE!!!</h1>
			{% endblock %}

	</div>
</body>
</html>